{% extends "base.html" %}

{% block head_title %}About Us{% endblock %}

{% block content %}
    <h1>About the WebBlog</h1>
    <p><i>WebBlog</i> is a website for all people to post their blogs about whatever topic they wish to write about. We allow our users to post blogs
    anonymously if they want! WebBlog is a place for all people to openly state their opinions as long as their opinions/articles may not contain
    content that we deem racist, sexist, or discrimatory. </p>
    <p>The website was founded on April 23<sup>rd</sup>,2019!</p>
{% endblock %}